@use "./variables" as *;

html {
  scroll-behavior: smooth;
}

//boostrap component default reset
button {
  border: none;
  outline: none;
}
// if .dark .card is absent, .card styling deleted in .dark mode
.card,
.dark .card {
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.75rem 1.5rem rgb(18, 38, 63, 0.1);
  border: none;
}

//dark mode extra styling
.dark {
  // apex-charts default umcompatible for styling
  .apex-charts {
    svg {
      text {
        fill: #fff !important;
      }
      foreignObject {
        .apexcharts-legend-series {
          .apexcharts-legend-text {
            color: #fff !important;
          }
        }
      }
    }
  }
  // theme-icon color change
  .header-navigation > .theme-icon > svg,
  .menu-icon {
    fill: white;
  }
  .open-window-icon {
    fill: #0090c1;
  }
}
.menu-icon {
  fill: black;
}

.home-page {
  width: 85%;
  max-width: 65em;
  margin-inline: auto;
}

.logo {
  font-weight: bold;
  justify-content: center;
}

.header-navigation {
  display: flex;
  justify-content: center;

  .theme-icon {
    margin-inline: clamp(0.8rem, 1.2rem, 1.5rem);
    background-color: transparent;
  }
}

.page-content {
  padding-block: 6rem 1.5rem;
}

.btn-text {
  color: $btn-text-color;
}

.invert-card {
  background-color: $invert-bg-color;
}

// DashBoard
.github-card,
.dark .github-card {
  padding: 0;
}
.credit-card-container {
  background-image: linear-gradient(
    90deg,
    hsl(198, 98%, 76%),
    hsl(249, 100%, 80%)
  );
  p {
    margin-bottom: 0.25rem;
    text-align: left;
  }
}

.mini-stats-wid {
  .mini-stats-icon {
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 3.2rem;
      background-color: rgba($container-bg, 0.1);
      top: -5px;
      left: 1rem;
      transform: rotate(32deg);
      transition: all 400ms;
    }

    &::after {
      left: -0.8rem;
      width: 0.8rem;
      transition: all 200ms;
    }
  }

  &:hover {
    .mini-stats-icon {
      &::after {
        left: 4rem;
      }
    }
  }
}

.icon-container {
  align-items: center;
  background-color: $primary;
  color: $container-bg;
  display: flex;
  font-weight: 500;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.icon-sm {
  width: 3rem;
  height: 3rem;
}
.ad-container {
  border-radius: 0.75rem;
  overflow: hidden;
}

.info-icon {
  fill: #003f91;
}

.verti-timeline {
  border-left: 3px solid #f6f6f6;
  margin-left: 0.6rem;

  .event-list {
    position: relative;
    padding: 0 0 3rem 2rem;
    .event-timeline-icon {
      position: absolute;
      left: -18px;
      top: 0;
      z-index: 3;
      font-size: 1rem;
      padding: 1px;
      background-color: $container-bg;
    }
  }
}

// Layout
.app {
  position: relative;
  max-width: 1444px;
  margin: auto;
}
#page-topbar {
  position: fixed;
  z-index: 600;
  width: 100%;
  max-width: 1444px;

  .card {
    margin: 0;
    padding: 0;
    .col {
      color: $text-color;
    }
  }
}

.navbar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

//MENU SECTION
.menu {
  display: none;
  .card {
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}
.menu.open {
  position: fixed;
  z-index: 10;
  top: 6rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min(80%, 20rem);
  border-radius: 1.5vw;
  box-shadow: 0 0.35rem 1rem hsla(213, 60%, 43%, 0.4);
}

.menu-item {
  margin: auto;
  width: 85%;
  border-radius: 1vw;
  cursor: pointer;
  &:hover,
  &:active {
    color: $container-bg;
    background-color: $link-hover-color;
  }
  button {
    width: 100%;
    padding: 0.8rem 1rem;
    color: inherit;
    margin: auto;
    background-color: transparent;
  }
  .menu-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    text-align: center;
    margin: auto;
    border-radius: 0.5rem;
    color: inherit;
  }
  a {
    width: 100%;
    padding: 0.8rem 1rem;
    &:hover {
      color: inherit;
    }
  }
}

footer {
  padding: 20px calc($container-padding * 0.75);
  color: #74788d;
  max-width: 1444px;
  margin: auto;
  height: 4rem;
}

button.scroll-to {
  position: fixed;
  z-index: 100;
  inset: auto 1rem 1rem auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $container-bg;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
}
.scroll-to__icon {
  padding: 0.8rem 0.9rem;
  width: 100%;
}
